
        .pge-header {
            font-family: 'Montserrat';
            font-size: 4em;
            letter-spacing: .1em;
            font-weight: 600;
            text-align: center
        }

        .pge-subheader {
            font-family: 'Open Sans';
            font-size: 1.5em;
            letter-spacing: .1em;
            font-weight: 300;
            text-align: center
        }


        .txt-logo {
            font-family: 'Montserrat';
            letter-spacing: .1em;
            text-transform: uppercase;
            color: #fbaf2c !important
        }
        
        /* 
        .txt-button {
            font-family: 'Open Sans';
            font-size: 1em;
            padding: 1em 2em;
        }
        */

        .img-ymlogo-jumbotron {
            max-width: 300px;
            height:auto;
        }

        .img-resume {
            margin: 1em;
            padding: 1em;
            width: 100%;
            height: auto
        }


        .crd-top-icon {
            width: 80%;
            height: auto;
            padding: 1em;
            margin-top: 1em;
        }

        .crd-top-team-photo {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0
        }

        .crd-title {
            font-family: 'Montserrat';
            font-size: 1em;
            font-weight: 800;
            text-align: center;
            padding: .5em;
        }

        .crd-subtitle {
            font-family: 'Open Sans';
            font-size: 1.25em;
            font-weight: 300;
            text-align: center;
        }

        .crd-text {
            font-family: 'Open Sans';
            font-size: 1em;
            text-align: center;

        }